body {
    font-family: Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-links a:hover {
    color: #f8d04d;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    cursor: pointer;
}

.navbar-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.2s ease-in-out;
}

.navbar-toggle.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar-toggle.active span:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 768px) {

    .navbar-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #333;
        padding: 10px 0;
        text-align: center;
    }

    .navbar-links.active {
        display: block;
    }

    .navbar-toggle {
        display: flex;
    }

}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.courses img {
    height: 200px;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.courses article {
    padding: 20px;
}

.courses h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.courses p {
    margin-bottom: 20px;
}

.courses .course-link {
    display: inline-block;
    padding: 10px 30px;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: none;
    margin-bottom: 50px;
    text-align: center;
}

.courses .course-link:hover {
    background-color: #f8d04d;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}