body {
    font-family: Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-links a:hover {
    color: #f8d04d;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    cursor: pointer;
}

.navbar-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.2s ease-in-out;
}

.navbar-toggle.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar-toggle.active span:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 768px) {

    .navbar-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #333;
        padding: 10px 0;
        text-align: center;
    }

    .navbar-links.active {
        display: block;
    }

    .navbar-toggle {
        display: flex;
    }

}

.contact {
    margin-top: 50px;
}

.contact h2 {
    font-size: 36px;
    text-align: center;

}

.contact input[type="text"], 
.contact input[type="email"],
.contact textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5;
}

.contact textarea {
    height: 150px;
}

.contact button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5;
}

.contact button[type="submit"]:hover {
    background-color: #f8d04d;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}